body {
background-color: rgb(7, 9, 10);
margin: 0px;
padding: 0px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
     padding: 30px;
     background: #333334;
     color: #ffffff;
     font-size: 3em;
     font-weight: bold;
}
nav{
    display: flex;
    justify-content: flex-start;
    background: #ccc;

}
nav a{
    color: #555;
    text-decoration: none;
    padding: 15px;
}

nav a:hover{
    background: #555;
    color: #cccccc;
}