body {
    background: rgb(201, 240, 201);
}

.parent {
display: flex;
direction: vertical-rl;
}

.item {
    border: 1px solid;
    opacity: .9;
    width: 100px;
    height: 100px;
    background: #09f;

}
.div:first-child {
    background: yellow;
}

.div:last-child{
    background: red;
}