body {
  background-color: #09f;
  margin: 0;
}

.contenedor_principal{
    width: 300px;
    height: 500px;
    border: 5px solid black;
    background-color: white;

}

.contenedor_1 {
width: 300px;
height: 100px;
background-color: yellow;
}

.contenedor_2{
    width: 100px;
    height: 100px;
    background-color: blue;

}

.contenedor_3{
    width: 250px;
    height: 200px;
    background-color: red
}



